<%- include("partials/header.ejs") %> 
    

    <h1>Hellooo welcome</h1>

    <p><%= message %> </p>

    <% blogList.forEach(function(blog) { %>
        <h2><%= blog.postTitle %></h2>
        <p><%= blog.post.substring(0,200) %>..... <a href="/blog/<%= blog.postTitle %> ">Read More</a></p>
    <% });%>


<%- include("partials/footer") %> 
